
@model LoginViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome @Model.UserEmail!</h1>
    <p>Create your own task list <a href="/Task/Create">here</a>.</p>
    <p>Or view your task list <a href="/Task/Index">here</a>.</p>

</div>
